    @font-face {
      font-family: 'lemon';
      src: url(..lemonmilk.otf);
    }
body {
  background-color: #fdfdfd;
  font-family: 'Poppins-Regular.ttf', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #4a4a4a;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 4em;
  font-weight: 700;
  color: #000000;
  text-overflow: ellipsis;
  width: 80%;
  text-align: left
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}
p { font-size: 1.25em;
    font-weight: 30;
    text-overflow: ellipsis;
    width: 80%;
    text-align: left;
    }
img {
  width: 80%
  ;
}
#button {
width: 200px;
height: 100px;
background: rgba( 239, 225, 225, 0.45 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
font-family: 'lemon';
align-items: center;
}

/*.nav {
  list-style-type: none;
  margin: 2px;
  padding: 32px;
  font-family: 'lemon';
  float: right;
  display: block;
  width:auto;
}
*/

a { text-decoration: none;
color: #37352F}


ul {
  list-style-type: none;
  margin: -8px;
  padding: 8px;
  width: 100%;
  background-color: #f1f1f1;
  font-family: 'lemon';
  font-size: 120%;
}

li a {
  float: right;
  display: inline;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  position: static;}

li a:hover {
  color: #fdb633;
}




#cta { width: 64px;
height: 64px}

#content-box {
  width: 80%;
  height: auto;
  border: 5px solid #37352F99;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 5px;
  align-content: center;
}
.custom-br {height: 15px;}

#copyright { opacity: 20%;
text-align: center;}
